{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h2>Búsqueda en la página</h2>
    <div style='padding:2%'>
        <form method="get" action=".">
            <table>
                {{ form.q }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Buscar">
                    </td>
                </tr>
            </table>

            {% if query %}
                <h3>Resultados</h3>

                {% for result in page.object_list %}
                    <p>
                        <a> + </a><a href="/publicacion/{{ result.object.pk }}"> {{ result.object}}</a>
                    </p>
                {% empty %}
                    <p>No se han encontrado resultados.</p>
                {% endfor %}

                {% if page.has_previous or page.has_next %}
                    <div>
                        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                        |
                        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                    </div>
                {% endif %}
            {% else %}
                {# Show some example queries to run, maybe query syntax, something else? #}
            {% endif %}
        </form>
    </div>
{% endblock %}