{% extends "base.html" %}
{% load staticfiles %}

{% block header %} {% endblock %}
{% block content %}
    <div class="panel panel-danger" id="panel-login" >
      <div class="panel-heading">Iniciar Sesión</div>
      <div class="panel-body">

      	<form method="post" action="."> {% csrf_token %}
      	{{form.non_field_errors}}
	  	{% for field in form %}
		  	<div class="field_container" >
		  		{{field.errors}}
		  		{{field.label_tag}}
		  		</br>
		  		<div>
		  			<input class="form-control" id="usr" {{field}}
		  		</div>
		  	</div>
	  	{%endfor%}
	  	</br>

	  	<input class="btn btn-primary" type="submit" value="Ingresar" id="btn-Ingresar"/>
	  	</br>
	  	</br>
	  	<p><a href="{% url 'auth_password_reset' %}"> Olvidaste tu Contraseña?</a></p>
		<p> <a href="{% url 'registration_register' %}">Registrarse</a></p>
	  	
		</form>

     </div>
    </div>

{% endblock %}
