
{% extends "base.html" %}
{% load staticfiles %}

{% block header %} {% endblock %}
{% block content %}
<div class="panel panel-danger"  id="panel-regisro">
  <div class="panel-heading">Registrarse</div>
  <div class="panel-body">
  		<form method="post" action="."> {% csrf_token %}
	  	  {{form.non_field_errors}}
		  {% for field in form %}
		  	<div class="field_container">
		  		{{field.errors}}
		  		{{field.label_tag}}
		  		</br>
		  		<div>
		  			<input class="form-control" id="usr" {{field}}
		  		</div>
		  	</div>
		  {%endfor%}
		  </br>
		  <input class="btn btn-primary" type="submit" value="Registrar" id="btn-reg";/>
		  </br>
		  <a  href="/inicio/" target="_self"> 
		  	<input id="btn-canreg"class="btn btn-danger" type="button" name="boton" value="Cancelar" /> 
		  </a>

	  
	</form>
  </div>
</div>
{% endblock %}

