#btn-reg{
	margin-left: 5px;
	width:175px;
	margin-bottom:5px;
}
#idh{
	color:red;
	font-family:fantasy;
	text-align: center; 

}
#ids{
	color:red;
	font-family:fantasy;
	text-align: center;

}
#panel-login{
	text-align: center;
	width: 400px;
	height: auto;
	margin-left: 450px;
	margin-top: 100px;
}
#btn-Ingresar{
	width:175px;
}
#publicaciones{
	margin-left: 325px;

}
#panel-regisro{

	text-align: center;
	width: 400px;
	height: auto;
	margin-left: 450px;
	margin-top: 100px;

}
#btn-canreg{
	width:177px;
	margin-bottom:5px;

}	
#id_comentario{
	height: 50px;
	width: 600px;
	resize:none;

}
#btn-comentar{
	text-align: right;
}
.post{
	width: 700px;
	height: auto;
	

}
#imagen{
	width: 500px;
	height: 300px;
	margin-left:75px;  

}
#nombre_user-comentario{
	color:blue; 
	font-family: calibri;
	font-weight: bolder;
	text-transform: capitalize;
	float: left;
	font-size: 15px;

}
.comentariouser{
	
}

#id_nombre,#id_localidad,#id_claseuser,#id_fechanacimiento,#id_categoria,#id_descripcion{
	width: 500px;
} 
#modalconfig{

}
#fotoperfil{
	margin-top: -93px;
	width: 100px;
	height: 100px;
	float: right;
}
#cabecera{
	background-color: red;
	color: white; 	
}
#cuerpo{
	text-align: center;
}


#titulo{
	color:black;
}
.comen{
	background-color: rgba(20,29,10,0.1);
	height: auto;
	font-size: 12px;


}

.titulopub{
	float: right;
	text-transform: capitalize;

}
.titulofecha{
	float: left;


}


.separador{
	border-top: 1px solid #8c8b8b;

}
#fecha_comentario{
	float: right;
	font-size:10px;


}
#publicar{
	
}
body{

	background-color:transparent;
}

/* . para las clases y # para el id*/