#btn-reg{
	margin-left: 5px;
	width:175px;
	margin-bottom:5px;
}
#idh{
	color:red;
	font-family:fantasy;
	text-align: center; 

}
#ids{
	color:red;
	font-family:fantasy;
	text-align: center;

}
#panel-login{
	text-align: center;
	width: 400px;
	height: auto;
	margin-left: 450px;
	margin-top: 100px;
}
#btn-Ingresar{
	width:175px;
}
#publicaciones{
	margin-left: 325px;

}
#panel-regisro{

	text-align: center;
	width: 400px;
	height: auto;
	margin-left: 450px;
	margin-top: 100px;

}
#btn-canreg{
	width:177px;
	margin-bottom:5px;

}	
#id_comentario{
	height: 50px;
	width: 600px;
	resize:none;

}
#btn-comentar{
	text-align: right;
}
.post{
	width: 700px;
	height: auto;
	

}
#imagen{
	width: 500px;
	height: 300px;
	margin-left:75px;  

}
#nombre_user-comentario{
	color:blue; 
	font-family: calibri;
	font-weight: bolder;
	text-transform: capitalize;
	float: left;
	font-size: 15px;

}
.audio{
	float: center;
	width: 650px;
}
.comentariouser{
	
}

#id_nombre,#id_localidad,#id_claseuser,#id_fechanacimiento,#id_categoria,#id_descripcion{
	width: 500px;
} 
#modalconfig{

}
#fotoperfil{
	margin-top: -93px;
	width: 100px;
	height: 100px;
	float: right;
}
#cabecera{
	background-color: red;
	color: white; 	
}
#cuerpo{
	text-align: center;
}


#titulo{
	color:black;
}
.comen{
	background-color: rgba(20,29,10,0.1);
	height: auto;
	font-size: 12px;


}

.titulopub{
	float: right;
	text-transform: capitalize;

}
.titulofecha{
	float: left;


}


.separador{
	border-top: 1px solid #8c8b8b;

}
#fecha_comentario{
	float: right;
	font-size:10px;


}
#publicar{
	
}
body{
	background-color:transparent;
}

.SearchBar{
	width: 5%;
}

.tabla-foro{
    width: 100%;
}

th{
	height: 2px;
	width: 40%;
	text-align:center;
	background:rgba(0,0,244,0.5);
}

#marco{
	color:rgba(0,0,244,0.5);
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* . para las clases y # para el id*/