{%load static%}
<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <script type="text/javascript" src="{% static 'logicals.js'%}"></script>
    {% block extra_js %}

    
    {% endblock %}
    <title>{% block title %}Inicio{% endblock %}</title>
</head>

<body id="main">
    <div id="header">
    {% block header %}
    {% if not user.is_authenticated %}
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!--<div class="navbar-header">
          <a class="navbar-brand" href="#">Estamos Viendo el Nombre</a>
        </div>-->
        <ul class="nav navbar-nav">
         <!-- <li class="active"><a href="#">Nuestra Web</a></li>-->
          <li><a href="/logueado">Principal</a></li>
        </ul>
      
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/accounts/register"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
          <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a></li>
        </ul>
      </div>
    </nav>
    {%else%}
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/logueado"><span class="glyphicon glyphicon-home" ></span> Principal</a></li>
          <li><a href="/search"><span class="glyphicon glyphicon-search" ></span> Buscar</a></li>
          {% block menu %}

          {%endblock%}
          <li><a href="/foro"><span class="glyphicon glyphicon-book" ></span> Comunidades </a></li>
          <li><a href="/publicar"><span class="glyphicon glyphicon-comment" ></span> Nueva Publicacion</a></li>
          <li><a href="/publicar"><span class="glyphicon glyphicon-pencil" ></span> Nueva Discusion</a></li>
          <li><a href="{% url 'web.views.perfil' iduser=request.user.pk %}"><span class="glyphicon glyphicon-user" ></span>Perfil</a></li>      
        </ul>

        <ul class="nav navbar-nav navbar-right" >
          <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesion</a></li>    
        </ul>
      </div>
    </nav>

     
    
      

    

    {% endif %}


    {% endblock %}
    </div>

    <div id="content">
    {% block content %}

    {% endblock %}
    </div>  

    <div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>
</body>

</html>