{% extends "base.html" %}
{% load staticfiles %}

{% block menu %} 
	
{% endblock %}

{% block content %}
	<!--ESTA PORCIÓN DE CÓDIGO ES DE LA TEMÁTICA DE LA DISCUSIÓN-->
	{% for disc in id_disc %}
		<div class="panel panel-primary" >
	      	<div class="panel-heading" id="titulo">{{ disc.titulo }} </div>
	      	<div class="panel-body">
	      		<div id="texbox">	
	      			<p class="titulopub">Por: <a href="">{{disc.usuario}}</a></p> 
	      			<p class="titulofecha">Publicado el {{disc.fecha}}</p>
	      		</div>
	      		</br>
			   	{%if disc.imagen != "" %}
			   		<img class="w3-round" id="imagen"src="{{disc.imagen}}">
			   	{% endif %}
			   	</br>    		
			   	<h4>{{disc.contenido}}</h4>
			</div>
			<div class="panel-footer">
			  	<p>Genero: {{disc.categoria}}</p>
			   	<p>Localidad: {{disc.locacalidad}}</p>
			   	<p>Direccion: {{disc.direccion}}</p>
			</div>
		</div>
		<!--ESTA PARTE PERTENECE A LAS RESPUESTAS Y COMENTARIOS DE LA DISCUSIÓN-->
		</br>
		</br>
		<div id="{{disc.pk}}">
		  	{% for comdisc in lista_comentarios %}
		    	{% if comdisc.publicaciones.pk == disc.pk %}
		    		<div class="panel panel-default" class="comen">
			    	<div class="panel-body" >
				    		<a href="#" id="nombre_user-comentario">{{comdisc.usuario}}:</a>
				    		<p id="fecha_comentario">{{comdisc.fecha}}</p>
				    	</br>
				    	</br>
				    	<p class="comentariouser"> {{comdisc.comentario}} </p>
				    		{% if comdisc.usuario == user %}
				    			<a href="{% url 'web.views.eliminarpublicacionforo' pk=comdisc.pk idpub=disc.pk %}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
				    		{% else %}
				    			<a href="{% url 'web.views.reportarcomentarios' idu=comdisc.pk  %}" onclick="ban()"><span class="glyphicon glyphicon-bullhorn"></span> Denunciar</a>
				    		{%endif%}
				    </div>
					</div>
				{% endif %}   	
		    {%endfor%}
		</div>
		<div> 
			<form method="post" action="."> {% csrf_token %}

				{% for field in form_comentario %}
					{{field.errors}}
					{{field}}		
				{%endfor%}

				<input type="hidden" name="publicacion" value="{{disc.titulo}}">
				</br>
				</br>
				<input class="btn btn-primary" type="submit" id="btn-comentar"value="Comentar"/>
			</form>
			</br>
    		{% if disc.usuario == user %}
    			<a href="{% url 'web.views.eliminarpostforo' pk=disc.pk%}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
			{% else %}
			
				<a href="{% url 'web.views.reportar' idu=disc.pk %}" onclick="banpub()"	><span class="glyphicon glyphicon-bullhorn"></span> Denunciar</a>
    		{%endif%}			    
    	</div>
	{%endfor%}

{%endblock%}
