{% extends "base.html" %}
{% load staticfiles %}

{% block menu %} 

{% endblock %}

{% block content %}
	<div class="panel panel-primary" >
      	<div class="panel-heading" id="titulo"></div>
	      	<div class="panel-body">	
				<div class="container">
				  <h2>Discusiones</h2> 
				</div>
				<div>
				  <table class="table table-bordered" id="tabla-foro">
				    <thead class="thead-inverse">
				      <tr>
				        <th>Titulo</th>
				        <th>Autor</th>
				        <th>Fecha</th>
				        <th>Categoria</th>
				      </tr>
				    </thead>
				    <tbody>
				      {% for post in lista_publicaciones %}
					    <tr>
					        <td><a href="{% url 'web.views.discusion' iddisc=post.pk %}">{{ post.titulo }}</a></td>
					        <td>{{ post.usuario }}</td>
					        <td>{{ post.fecha }}></td>
					        <td>{{ post.categoria }}</td>
					  	</tr>  
					  {%endfor%}
				    </tbody>
				  </table>
				</div>
			</div>
		</div>	
	</div>
{%endblock%}