{% extends "base.html" %}
{% load staticfiles %}
{%block menu%}
	<li><a href="#" onclick="w3_open()"><span style="font-size:15px;cursor:pointer" onclick="openNav()"><span class="glyphicon glyphicon-headphones"></span> Géneros</span></a></li>

{%endblock%}

{% block content %}

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a>☰ Géneros</a>
  {% for categoria in lista_categorias %}
    <a class="w3-hover-black" href="{% url 'web.views.filtrar' tipo=categoria.pk %}">{{categoria.nombre}}</a>
  {% endfor %}  
</div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

<!--<nav class="w3-sidenav w3-light-grey w3-card-2" style="display:none">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-red"><span class="glyphicon glyphicon-headphones"></span> Generos &times;</a>
  {% for categoria in lista_categorias %}
    <a class="w3-hover-black" href="{% url 'web.views.filtrar' tipo=categoria.pk %}">{{categoria.nombre}}</a>
  {% endfor %}     
</nav>-->

<div id="publicaciones" >
	{% for post in lista_publicaciones %}
		<div class="post">
				<div class="panel panel-danger" >
			      	<div class="panel-heading" id="titulo"><a href="{% url 'web.views.publicacion' idpub=post.pk  %}">{{ post.titulo }}</a></div>
			      	<div class="panel-body">
			      		<div id="texbox">	
			      			<p class="titulopub">Por: <a href= "{% url 'web.views.perfil' iduser=post.usuario.pk  %}">{{post.usuario}}</a></p> 
			      			<p class="titulofecha">Publicado el {{post.fecha}}</p>
			      		</div>
			      		</br>
					   	<h4>{{post.contenido}}</h4>
					   	</br>
					   	{%if post.imagen != "" %}
					   		<img class="w3-round" id="imagen" src= "{% static post.imagen %}">
					   	{% endif %}
					   	{% if post.audio %}
					   		<audio controls class="audio">
								  <source src="{% static post.audio %}" type="audio/ogg">
								  <source src="{% static post.audio %}" type="audio/mpeg">
							</audio>
					   	{% endif %}
					   	</br>
					    </br>
					  	<p>Genero: {{post.categoria}}</p>
					   	<p>Localidad: {{post.locacalidad}}</p>
					   	<p>Direccion: {{post.direccion}}</p>
					    <a href="#{{post.pk}}" class="btn btn-info" data-toggle="collapse"> Ver Comentarios <span class="glyphicon glyphicon-bell"></span></a>
					  	</br>
					  	</br>
						<div id="{{post.pk}}" class="collapse">
						  	{% for com in lista_comentarios %}
						    	{% if com.publicaciones.pk == post.pk %}
						    		<div class="panel panel-default" class="comen">
							    	<div class="panel-body" >
								    		<a href="{% url 'web.views.perfil' iduser=com.usuario.pk  %}" id="nombre_user-comentario">{{com.usuario}}:</a>
								    		<p id="fecha_comentario">{{com.fecha}}</p>
								    	</br>
								    	</br>
								    	<p class="comentariouser"> {{com.comentario}} </p>
								    	
								    		{% if com.usuario == user %}
								    			<a href="{% url 'web.views.eliminarpublicacionprincipal' pk=com.pk%}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
								    		{% else %}
								    			<a href="{% url 'web.views.reportarcomentarios' idu=com.pk  %}" onclick="ban()"><span class="glyphicon glyphicon-bullhorn"></span> Denunciar</a>
								    		{%endif%}

								    </div>

								</div>
								   	{% endif %}
						    {%endfor%}
					    </div>
						
						<div> 
							<form method="post" action="."> {% csrf_token %}

								{% for field in form_comentario %}
									{{field.errors}}
									{{field}}		
								{%endfor%}

								<input type="hidden" name="publicacion" value="{{post.titulo }}">
								</br>
								<input class="btn btn-primary" type="submit" id="btn-comentar"value="Comentar"/>
							</form>
						</br>
				    		{% if post.usuario == user %}
				    			<a href="{% url 'web.views.eliminarpostprincipal' pk=post.pk%}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
							{% else %}
							
								<a href="{% url 'web.views.reportar' idu=post.pk %}" onclick="banpub()"	><span class="glyphicon glyphicon-bullhorn"></span> Denunciar</a>
				    		{%endif%}				    
				    	</div>
					</div>

				</div>

		<div>
	{%endfor%}
</div>
</div>
{% if per.count == 0 %}
	<body onload="configuracion()">
		<div class="container" id="modalconfig">
	 	<!-- Modal -->
		 <div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog modal-lg">
		      <div class="modal-content">
		        <div class="modal-header">
		          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
		          <h4 class="modal-title">Configuracion de Usuario</h4>
		        </div>
		        <div class="modal-body">
		        	<form method="POST" action="."  enctype="multipart/form-data" class="post-form">
					    {% csrf_token %}
					  	{% for field in form_perfiles %}	
						  		{{field.errors}}
						  		</br>
						
						  		{{field.label_tag}}

						  		</br>
						  		{{field}}
						  	
					  	{%endfor%}

					  </br>
					  </br>

					  <input class="btn btn-primary" type="submit" value="Guardar Configuracion" />

					</form>


		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</body>
{%endif%}

{% endblock %}