{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

	{% for perfil in perfilusuario %}
		<div  class="panel panel-primary">
		  <div class="panel-heading">
		  		<p>
					<h2 id="tituloperfil"><strong>Perfil de: {{perfil.nombre}}</strong></h2>
					Localidad: <strong>{{perfil.localidad}}.</strong> 
					Fecha de Nacimiento: <strong>{{perfil.fechanacimiento}}.</strong>
					Categoria: <strong>{{perfil.categoria}}.</strong>
				</p>
				<img id="fotoperfil" class="w3-round" src="{% static perfil.foto %}">

		  </div>
		  <div class="panel-body">
		  	<div id="cuerpo">
				<h3>{{perfil.descripcion}}</h1>
			</div>

		  </div>
		</div>

		<div  class="panel panel-success">
		  <div class="panel-heading">
		  		<p>
		  			<h2 ><strong>Publicaciones del usuario:</strong></h2>
		  			{% for pub in pubusuario %}
						<div class="post">
								<div class="panel panel-danger" >
							      	<div class="panel-heading" id="titulo"><a href="{% url 'web.views.publicacion' idpub=pub.pk %}">{{ pub.titulo }}</a></div>
								</div>
						</div> 
		  			{%endfor%}
				</p>

		  </div>
		  <div class="panel-body">
		  	<div id="cuerpo">
				
			</div>

		  </div>
		</div>

		<div  class="panel panel-primary">
		  <div class="panel-heading">
		  		<p>
		  			<h2 ><strong>Comentarios del usuario:</strong></h2>
		  			{% for com in comusuario %}
						<div class="post">
							<div class="panel panel-danger" >
						      	<div class="panel-heading" id="titulo"><a href="{% url 'web.views.publicacion' idpub=com.publicaciones.pk %}">{{ com.comentario }}</a></div>
							</div> 
						</div> 						  	
		  			{%endfor%}		
				</p>

		  </div>
		  <div class="panel-body">
		  	<div id="cuerpo">
				
			</div>

		  </div>
		</div>

		</br>


	{%endfor%}

{% endblock %}