{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Publicar</div>
    <div class="panel-body">
    	<div id='publicar'>
	    	<form method="POST" action="."  enctype="multipart/form-data" class="post-form">
			    {% csrf_token %}
			  	{% for field in form_post %}	
				  		{{field.errors}}
				  		</br>
				
				  		{{field.label_tag}}

				  		</br>
				  		{{field}}
				  	
			  	{%endfor%}
			  	
			    <p> 
			    </br>
			        <input class="btn btn-primary" type="submit" value="Publicar" />
			       	<a  href="/logueado/" target="_self"> 
				  		<input class="btn btn-danger" type="button" name="boton" value="Cancelar" /> 
				 	 </a>

			    </p>

			</form>
		</div>

    </div>
  </div>
</div>


	
{% endblock %}



