{% extends "base.html" %}
{% load staticfiles %}

{% block menu %} 

{% endblock %}

{% block content %}

	<div id="publicaciones">
		{% for pub in publicaciones %}
			<div class="post">
				<div class="panel panel-danger">
			      	<div class="panel-heading" id="titulo">{{ pub.titulo }} </div>
			      	<div class="panel-body">
			      		<div id="texbox">	
			      			<p class="titulopub">Por: <a href= "{% url 'web.views.publicacion' idpub=pub.usuario.pk  %}">{{pub.usuario}}</a></p> 
			      			<p class="titulofecha">Publicado el {{pub.fecha}}</p>
			      		</div>
			      		</br>
					   	<h4>{{pub.contenido}}</h4>
					   	</br>
					   	{%if pub.imagen != "" %}
					   		<img class="w3-round" id="imagen" src= "{% static pub.imagen %}">
					   	{% endif %}
					   	{% if pub.audio %}
					   		<audio controls class="audio">
								  <source src="{% static pub.audio %}" type="audio/ogg">
								  <source src="{% static pub.audio %}" type="audio/mpeg">
							</audio>
					   	{% endif %}
					   	</br>
					    </br>
					  	<p>Genero: {{pub.categoria}}</p>
					   	<p>Localidad: {{pub.locacalidad}}</p>
					   	<p>Direccion: {{pub.direccion}}</p>
					    <a href="#{{pub.pk}}" class="btn btn-info" data-toggle="collapse"> Ver Comentarios <span class="glyphicon glyphicon-bell"></span></a>
					  	</br>
					  	</br>
						<div id="{{pub.pk}}" class="collapse">
						  	{% for com in lista_comentarios %}
						    	{% if com.publicaciones.pk == pub.pk %}
						    		<div class="panel panel-default" class="comen">
							    	<div class="panel-body" >
								    		<a href="{% url 'web.views.perfil' iduser=com.usuario.pk  %}" id="nombre_user-comentario">{{com.usuario}}:</a>
								    		<p id="fecha_comentario">{{com.fecha}}</p>
								    	</br>
								    	</br>
								    	<p class="comentariouser"> {{com.comentario}} </p>
								    	
								    		{% if com.usuario == user %}
								    			<a href="{% url 'web.views.eliminarpublicacionpuntual' pk=com.pk idpub=pub.pk%}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
								    		{% else %}
								    			<a href="{% url 'web.views.reportarcomentarios' idu=com.pk %}" onclick="ban()"><span class="glyphicon glyphicon-bullhorn"></span> Denunciar</a>
								    		{%endif%}

								    </div>

								</div>
								   	{% endif %}   	
						    {%endfor%}							 
					    </div>
						
						<div> 
							<form method="post" action="."> {% csrf_token %}

								{% for field in form_comentario %}
									{{field.errors}}
									{{field}}		
								{%endfor%}

								<input type="hidden" name="publicacion" value="{{pub.titulo}}">
								</br>
								<input class="btn btn-primary" type="submit" id="btn-comentar"value="Comentar"/>
							</form>
						</br>
				    		{% if pub.usuario == user %}
				    			<a href="{% url 'web.views.eliminarpostpuntual' pk=pub.pk%}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
							{% else %}
							
								<a href="{% url 'web.views.reportar' idu=pub.pk %}" onclick="banpub()"	><span class="glyphicon glyphicon-bullhorn"></span> Denunciar</a>
				    		{%endif%}				    
				    	</div>
					</div>

				</div>

			<div>
		{%endfor%}
	</div>
{%endblock%}